/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "NATS";
  src: url("../fonts/NATS/NATS.ttf.woff") format("woff"), url("../fonts/NATS/NATS.ttf.svg#NATS") format("svg"), url("../fonts/NATS/NATS.ttf.eot"), url("../fonts/NATS/NATS.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif;
}

p, span, small {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth !important;
  scroll-padding-top: 125px;
  overflow-x: hidden;
  height: auto;
}

body {
  background-color: #f8e4db;
  overflow-x: hidden;
}
body.scrolled .site-wrapper header {
  background-color: rgb(255, 255, 255);
  mix-blend-mode: normal;
}
body .site-wrapper {
  isolation: isolate;
}
body .site-wrapper header {
  position: fixed;
  transition: all 0.3s ease-in-out;
  top: 0;
  width: 100vw;
  z-index: 10;
  mix-blend-mode: overlay;
}
body .site-wrapper header .header-desktop {
  display: flex;
  justify-content: space-between;
  padding-inline: 2.5rem;
  padding-block: 1.5rem;
}
body .site-wrapper header .header-desktop .menu {
  font-family: "NATS", sans-serif;
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
}
body .site-wrapper header .header-desktop .menu li {
  cursor: pointer;
}
body .site-wrapper header .header-desktop .logo {
  cursor: pointer;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
body .site-wrapper main .container {
  max-width: 940px;
  padding-inline: 1.5rem;
  margin: 0 auto;
}
body .site-wrapper main .container-intro {
  margin-top: max(48vh - 210px, 90px);
}
body .site-wrapper main .introduction {
  margin-bottom: 52vh;
  mix-blend-mode: overlay;
}
body .site-wrapper main .introduction .intro-wrapper {
  position: relative;
}
body .site-wrapper main .introduction .intro-wrapper h1 {
  font-family: "Bitter", serif;
  font-weight: 800;
  font-size: 3rem;
  line-height: 3.75rem;
  position: relative;
  color: black;
}
body .site-wrapper main .introduction .intro-wrapper h1 .junior-wrapper {
  position: absolute;
  left: 195px;
  top: 101px;
  display: flex;
}
body .site-wrapper main .introduction .intro-wrapper h1 .junior-wrapper .arrow {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='61' height='37' viewBox='0 0 61 37' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.9831 13.0197C1.11196 13.0431 1.47415 12.7772 1.7881 12.429C2.28552 11.8771 2.31938 11.6961 2.05252 11.0177C1.88416 10.5897 1.81649 10.2121 1.90228 10.1784C1.98815 10.1449 2.01881 10.0173 1.97074 9.89514C1.9226 9.77273 1.97847 9.45441 2.09507 9.18742C2.2931 8.73293 2.28204 8.70662 1.92232 8.77385C1.42137 8.86741 1.34947 8.07973 1.77744 7.18478C1.94843 6.8274 2.03575 6.40184 1.97177 6.23918C1.90779 6.07653 1.94999 5.77221 2.06545 5.56269C2.33535 5.07322 2.14136 4.57457 1.74214 4.7316C1.5662 4.80081 1.68895 4.28968 2.02816 3.54105C2.63764 2.19594 2.96262 1.81968 2.96772 2.45277C2.96959 2.70142 3.10446 2.75833 3.40814 2.63888C3.64888 2.54418 3.88986 2.57876 3.94372 2.71568C4.01986 2.90925 4.07532 2.88743 4.19297 2.61764C4.2762 2.42679 4.48451 2.21548 4.65587 2.14808C4.89827 2.05273 4.93377 2.10273 4.81611 2.37252C4.60312 2.86093 4.8975 3.49043 5.27014 3.34385C5.4415 3.27644 5.61729 3.31175 5.66079 3.42233C5.7042 3.5327 5.58155 3.62454 5.38792 3.6262C5.19438 3.62807 4.80633 3.86168 4.52559 4.14556C3.87684 4.80178 3.95165 5.73709 4.67143 5.96999C5.16179 6.12879 5.17147 6.15277 4.94962 6.65281C4.82295 6.93813 4.60747 7.1513 4.47082 7.12647C4.03566 7.04825 4.38685 7.54593 5.03285 7.92356C5.3755 8.12393 5.68754 8.36844 5.72639 8.46719C5.76523 8.56594 5.61004 8.72018 5.38155 8.81006C5.02761 8.94928 5.02056 9.11185 5.33336 9.90706C5.53534 10.4205 5.77163 10.8127 5.85825 10.7786C5.94507 10.7445 6.21615 10.8647 6.46083 11.0459C6.7853 11.286 6.81998 11.3596 6.58924 11.3181C6.34637 11.2744 6.39497 11.459 6.79697 12.1096C7.08539 12.5764 7.49556 13.4557 7.70832 14.0637C7.94037 14.7268 8.18308 15.1346 8.31497 15.0828C8.43565 15.0353 8.60577 15.1775 8.69293 15.3991C8.78008 15.6207 8.96934 15.8231 9.11361 15.8491C9.25796 15.8752 9.3565 16.0043 9.33244 16.1365C9.30859 16.2685 9.39346 16.3355 9.5212 16.2852C9.65809 16.2314 9.72633 16.3275 9.6874 16.5193C9.5761 17.0681 10.0002 17.8639 10.5278 18.0962C10.8248 18.2268 11.0304 18.4816 11.0322 18.7217C11.0344 19.0181 11.1072 19.0611 11.303 18.882C11.5065 18.6958 11.5943 18.7622 11.6688 19.159C11.7306 19.4881 11.9964 19.7906 12.388 19.9774C12.7294 20.1407 13.0791 20.4523 13.1647 20.6699C13.2504 20.8876 13.6657 21.5124 14.0877 22.0583C14.6207 22.748 14.962 23.0103 15.205 22.9171C15.4667 22.817 15.5044 22.8525 15.354 23.058C15.1158 23.3841 15.6977 24.1197 16.3679 24.34C16.602 24.4168 16.7947 24.6273 16.7961 24.8078C16.7975 24.9882 17.2551 25.3343 17.8129 25.5767C18.4577 25.8569 18.845 26.1678 18.8762 26.4301C18.9034 26.6571 19.1983 26.9727 19.5316 27.132C19.865 27.2912 20.1871 27.5468 20.2474 27.7C20.3853 28.0506 22.9093 29.8734 23.8181 30.2787C24.1927 30.4459 24.531 30.6631 24.5697 30.7616C24.6085 30.8601 24.8726 31.0418 25.157 31.1655C25.4411 31.289 26.0747 31.6327 26.565 31.9292C27.0553 32.2256 27.6296 32.4002 27.8409 32.3171C28.0858 32.2208 28.226 32.2878 28.2278 32.502C28.2313 32.9409 31.6558 34.4747 32.6976 34.5038C33.1458 34.5162 33.5456 34.6778 33.6245 34.8782C33.7993 35.3228 34.792 35.572 35.4137 35.3275C35.6737 35.2252 35.9239 35.236 35.9694 35.3518C36.1223 35.7404 37.878 36.2593 38.5968 36.1282C38.9883 36.0569 39.4161 36.116 39.5476 36.2595C39.7209 36.4488 39.9427 36.4157 40.3558 36.1385C40.825 35.8239 40.9257 35.8231 40.9283 36.134C40.9302 36.378 41.0453 36.4662 41.2547 36.3838C41.4327 36.3138 41.7044 36.3583 41.8589 36.4828C42.0133 36.607 42.3393 36.6675 42.5833 36.6171C42.8273 36.5666 43.1964 36.5934 43.4033 36.6766C43.6104 36.76 43.9135 36.7754 44.0765 36.7113C44.2398 36.647 44.4123 36.6935 44.4598 36.8142C44.5086 36.9385 44.6311 36.9188 44.7418 36.7691C45.1049 36.278 46.1862 36.2125 48.0802 36.5669C48.5558 36.656 49.263 36.5594 49.9046 36.3178C50.5269 36.0833 51.333 35.968 51.8904 36.0333C52.9277 36.155 53.9963 35.8185 54.751 35.1328C55.0965 34.8186 55.2925 34.7411 55.4038 34.8741C55.515 35.0069 55.6605 34.9492 55.8882 34.6819C56.1198 34.4097 56.3189 34.3342 56.5798 34.4199C56.8522 34.5094 56.9937 34.4313 57.1315 34.1152C57.2701 33.7979 57.4004 33.7263 57.6455 33.8328C57.8908 33.9394 57.9496 33.9132 57.8772 33.7292C57.8238 33.5935 58.1306 33.2759 58.5589 33.0231C59.0286 32.7459 59.2931 32.4506 59.2255 32.2789C59.1473 32.0799 59.3946 31.8837 60.0483 31.6265C60.8025 31.3299 60.9542 31.1892 60.8335 30.8984C60.625 30.3952 59.8168 29.9187 59.8376 30.3111C59.8472 30.4953 59.5536 30.7043 59.0692 30.8582C58.6379 30.9952 58.3228 31.2035 58.3692 31.3213C58.4829 31.6103 56.7545 32.2708 55.989 32.2308C55.5001 32.205 55.2622 32.3202 54.8251 32.7938C54.4517 33.1982 54.2038 33.3352 54.0516 33.2214C53.9283 33.1293 53.7573 33.1476 53.6713 33.2625C53.5854 33.377 53.0668 33.3702 52.5188 33.2472C51.6756 33.0578 51.4584 33.0898 51.1045 33.4554C50.7561 33.8155 50.6859 33.8285 50.6836 33.5335C50.6812 33.2121 50.1008 33.092 49.4228 33.2729C49.3035 33.3048 48.9002 33.3266 48.5268 33.3211C48.1533 33.3157 47.7214 33.361 47.5669 33.4218C47.4126 33.4825 47.1928 33.4341 47.0788 33.3143C46.9196 33.1469 46.8531 33.17 46.7922 33.4134C46.7359 33.6392 46.4297 33.6034 45.728 33.2889C45.0579 32.9885 44.6368 32.9333 44.4118 33.116C44.2154 33.2754 43.8385 33.289 43.4843 33.1497C42.5486 32.7818 41.7243 33.0217 41.5106 33.7241C41.3552 34.2347 41.3091 34.2674 41.1824 33.9567C41.1014 33.7581 40.8929 33.6513 40.7195 33.7196C40.4866 33.8112 40.3846 33.6944 40.3302 33.2738C40.2855 32.9279 40.162 32.7293 40.016 32.7685C39.8839 32.8039 39.6731 32.8466 39.5476 32.8629C39.4221 32.8792 39.2214 32.9179 39.1015 32.9485C38.9817 32.9792 38.8285 32.8643 38.7612 32.6931C38.6939 32.5219 38.5397 32.4209 38.4188 32.4684C38.2979 32.516 38.2845 32.619 38.3892 32.6974C38.494 32.7754 38.3804 32.8635 38.1372 32.8926C37.8937 32.9218 37.69 32.8234 37.6841 32.6738C37.6712 32.3313 36.9676 31.8949 36.5402 31.9645C36.3623 31.9933 36.0221 31.8962 35.7842 31.7487C35.4726 31.5553 35.2179 31.576 34.8723 31.8231C34.4791 32.104 34.4151 32.0973 34.5177 31.7867C34.6166 31.4865 34.29 31.2374 32.9492 30.5895C32.0178 30.1394 31.1394 29.818 30.997 29.8754C30.8547 29.9326 30.7085 29.9043 30.6723 29.8122C30.5674 29.5454 28.0489 28.4022 27.7901 28.504C27.6611 28.5547 27.2727 28.4732 26.9266 28.3228C26.5103 28.1419 26.4263 28.0484 26.6782 28.0461C27.3576 28.0403 27.0751 27.4449 26.1942 27.026C25.7216 26.8013 25.1578 26.4394 24.9415 26.2219C24.3591 25.6358 23.7437 25.2092 23.3768 25.1372C23.1982 25.1021 22.9892 24.9148 22.9129 24.7208C22.8364 24.5269 22.4336 24.1889 22.0177 23.9695C21.6017 23.7503 21.1938 23.3988 21.111 23.1882C21.0283 22.9778 20.8203 22.8608 20.649 22.9282C20.4521 23.0056 20.2595 22.8526 20.1255 22.5121C20.0091 22.2161 19.6767 21.7808 19.3868 21.545C19.0971 21.3092 18.5014 20.7455 18.063 20.292C17.6246 19.8384 17.1692 19.5056 17.051 19.5521C16.9326 19.5987 16.7663 19.46 16.6813 19.244C16.5964 19.028 16.3674 18.8527 16.1724 18.8544C15.9773 18.8561 15.8165 18.7107 15.8153 18.5313C15.8138 18.352 15.6147 17.9878 15.3727 17.722C15.0242 17.3392 14.8452 17.3011 14.5111 17.5384C14.2791 17.7029 14.1853 17.7382 14.3022 17.6165C14.5564 17.3524 14.3187 16.6438 13.9537 16.578C13.8117 16.5524 13.6076 16.3299 13.5003 16.0834C13.3931 15.8369 13.3038 15.7705 13.3025 15.9358C13.2985 16.3545 12.9446 16.4517 12.7964 16.075C12.7291 15.9038 12.5834 15.7994 12.4727 15.843C12.3622 15.8864 12.2704 15.7608 12.2687 15.5639C12.2654 15.1426 12.8014 14.868 12.9398 15.2201C12.9922 15.3531 13.0725 15.3761 13.1184 15.2711C13.1642 15.1661 12.9583 14.9596 12.6609 14.8121C12.3547 14.6606 12.224 14.5034 12.3599 14.4499C12.6538 14.3343 12.3826 13.568 12.0248 13.5037C11.8829 13.4781 11.6955 13.2761 11.6083 13.0545C11.4914 12.7574 11.2982 12.7064 10.8722 12.8601L10.2946 13.0684L10.7577 12.6572C11.1306 12.326 11.1606 12.1511 10.9115 11.7575C10.7417 11.4886 10.4562 11.2701 10.2769 11.2716C10.0979 11.2733 9.96994 11.1729 9.99238 11.0489C10.0148 10.9248 9.85801 10.6744 9.64375 10.4925C9.37652 10.2655 9.32262 10.1346 9.47176 10.076C9.74054 9.97024 8.83612 8.35939 8.46494 8.28284C8.32475 8.25389 8.23674 8.0832 8.26918 7.90347C8.30736 7.6932 8.26512 7.66143 8.15062 7.81427C7.91332 8.13112 7.2306 5.99059 7.42607 5.54238C7.6291 5.07681 7.31035 4.37808 7.0172 4.64624C6.84837 4.80057 6.71559 4.68558 6.56244 4.25232C6.44349 3.9158 6.4554 3.59728 6.58859 3.54441C6.72207 3.49167 6.94727 3.34223 7.08914 3.21264C7.26268 3.05383 7.50142 3.15588 7.81867 3.5246C8.32631 4.11453 8.55817 4.13017 8.79386 3.58971C8.90937 3.32483 9.03238 3.38449 9.33331 3.85138C9.54768 4.18414 9.86263 4.5013 10.0333 4.55587C10.5806 4.73203 12.8031 3.89663 12.6722 3.56406C12.536 3.2178 11.1898 3.22102 10.9052 3.56822C10.5554 3.99545 10.4606 3.71222 10.7832 3.20369C11.0217 2.82767 10.9941 2.76686 10.329 2.20152C9.84756 1.79222 9.41956 1.63524 8.99195 1.71097C8.60852 1.7789 8.36219 1.7045 8.36076 1.52036C8.35768 1.13084 7.55497 1.22188 7.37615 1.63192C7.21171 2.009 6.49282 1.6186 6.01709 0.893939C5.63349 0.309595 4.46708 0.179077 4.18603 0.688985C4.0481 0.938963 3.97381 0.962913 3.90216 0.780758C3.84365 0.632005 3.66673 0.646258 3.45669 0.81656C3.2651 0.972178 3.01011 1.02576 2.8899 0.936017C2.54697 0.679456 2.10139 0.954624 2.27929 1.31299C2.46534 1.6878 2.0185 2.41768 1.69012 2.27495C1.56774 2.22175 1.57102 2.03743 1.69728 1.86511C1.86245 1.63987 1.85133 1.58051 1.65768 1.65405C1.08905 1.87006 0.513522 3.17282 0.609012 4.02716C0.665663 4.53217 0.578966 4.94957 0.403034 5.01878C0.0661229 5.1513 0.121222 5.50479 0.489317 5.57106C0.619176 5.59448 0.726524 5.47775 0.728086 5.3116C0.729927 5.10652 0.77587 5.10929 0.871713 5.32002C0.949277 5.49099 0.948819 5.89531 0.870741 6.21878C0.780239 6.5948 0.814324 6.77353 0.965747 6.71397C1.09598 6.66274 1.20748 6.75351 1.21378 6.91586C1.21978 7.07808 1.07393 7.24206 0.889284 7.27995C0.483634 7.36334 0.336975 7.79355 0.385708 8.75708C0.415604 9.34711 0.501209 9.49767 0.853391 9.57714C1.23678 9.66399 1.23783 9.69471 0.863413 9.85445C0.0207955 10.2142 0.00348591 11.2897 0.835868 11.5631C1.21099 11.6862 1.22964 11.7733 1.00345 12.3397C0.863201 12.6905 0.854107 12.9967 0.9831 13.0197ZM2.00146 13.6989C2.1794 13.8287 2.30877 13.8106 2.33764 13.6517C2.36342 13.5093 2.2238 13.3946 2.02728 13.3962C1.61453 13.4 1.61336 13.4153 2.00146 13.6989ZM6.95217 8.99193C7.11768 8.99318 7.01926 9.08628 6.73366 9.19862C6.44805 9.31096 6.31279 9.30979 6.43288 9.19619C6.5531 9.0823 6.78678 8.99038 6.95217 8.99193ZM9.34195 11.8502C9.43106 11.889 9.3614 12.0503 9.18728 12.2089C8.93552 12.4377 8.90233 12.4235 9.02526 12.1384C9.11047 11.941 9.25304 11.8114 9.34195 11.8502ZM13.646 17.93C13.8432 17.9283 14.019 17.9636 14.0367 18.0084C14.0543 18.0532 13.9285 18.1451 13.7572 18.2125C13.5858 18.2799 13.41 18.2446 13.3665 18.134C13.3231 18.0237 13.4489 17.9318 13.646 17.93ZM13.3547 16.7698C13.5463 16.7709 13.5164 16.8394 13.2783 16.9446C13.0629 17.0396 12.9211 17.0388 12.9629 16.9428C13.0048 16.8468 13.1811 16.7688 13.3547 16.7698ZM50.7923 34.1245C51.117 33.853 51.2072 34.3127 50.8865 34.6061C50.7148 34.7629 50.6015 34.7541 50.5925 34.5825C50.5845 34.4292 50.6742 34.2231 50.7923 34.1245Z' fill='%23CF461B'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 61px;
  height: 37px;
  margin-top: 10px;
}
body .site-wrapper main .introduction .intro-wrapper h1 .junior-wrapper span {
  font-family: "Waiting for the Sunrise", cursive;
  color: #cf461b;
  font-size: 1.75rem;
  font-weight: 600;
}
body .site-wrapper main .introduction .intro-wrapper p {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
}
body .site-wrapper main .introduction .intro-wrapper .personal-image {
  width: 267px;
  height: 267px;
  border-radius: 50%;
  position: absolute;
  left: 289px;
  top: 136px;
  isolation: isolate;
  mix-blend-mode: color;
}
body .site-wrapper main .introduction .intro-wrapper .personal-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  rotate: -10deg;
}
body .site-wrapper main .introduction .more {
  position: absolute;
  transform: translateX(-50%);
  text-align: center;
  width: 100px;
  height: 20px;
  bottom: 25px;
  left: 50%;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  opacity: 1;
}
body .site-wrapper main .introduction .more .arrow-down {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='14' viewBox='0 0 24 14' fill='none'%3E%3Cpath d='M10.9393 13.0607C11.5251 13.6464 12.4749 13.6464 13.0607 13.0607L22.6066 3.51471C23.1924 2.92892 23.1924 1.97918 22.6066 1.39339C22.0208 0.807603 21.0711 0.807604 20.4853 1.39339L12 9.87868L3.51471 1.39341C2.92892 0.807619 1.97918 0.80762 1.39339 1.39341C0.807605 1.97919 0.807606 2.92894 1.39339 3.51473L10.9393 13.0607ZM10.5 10L10.5 12L13.5 12L13.5 10L10.5 10Z' fill='%231E1E1E'/%3E%3C/svg%3E");
  width: 24px;
  height: 14px;
  margin: 0 auto;
}
body .site-wrapper main .hype-scroll {
  box-shadow: 0px 0px 20px black;
  margin-top: 3rem;
  background-color: white;
  position: relative;
  width: 100vw;
  top: 30px;
  left: 0%;
  overflow: hidden;
  mix-blend-mode: overlay;
  cursor: pointer;
}
body .site-wrapper main .hype-scroll .scrollbar-wrapper {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
}
body .site-wrapper main .hype-scroll .scrollbar-wrapper.cloned {
  position: absolute;
  top: 0px;
  left: 0px;
}
body .site-wrapper main .hype-scroll .scrollbar-wrapper li {
  float: left;
  padding-left: 20px;
}
body .site-wrapper main .hype-scroll .scrollbar-wrapper li span {
  font-family: "Bitter", serif;
  font-weight: 900;
  font-size: 5rem;
  white-space: nowrap;
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
}
body .site-wrapper main .container-projects {
  padding-top: 5rem;
}
body .site-wrapper main .project-showcase {
  padding-bottom: 5rem;
}
body .site-wrapper main .project-showcase h3 {
  font-family: "Bitter", serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-block: 3rem 2rem;
}
body .site-wrapper main .project-showcase .my-projects {
  z-index: 5;
  width: 80vmin;
  height: 80vmin;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.74);
  box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.74);
  cursor: pointer;
}
body .site-wrapper main .project-showcase .my-projects > div {
  width: 100%;
  height: 100%;
  position: absolute;
}
body .site-wrapper main .project-showcase .my-projects .clip-path-effect {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  clip-path: polygon(0 0);
  z-index: 99;
}
body .site-wrapper main .project-showcase .my-projects .project {
  position: absolute;
  overflow: hidden;
}
body .site-wrapper main .project-showcase .my-projects .project.project-main:hover img {
  transform: scale(1.05);
}
body .site-wrapper main .project-showcase .my-projects .project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s all ease-in-out;
  transition-delay: 300ms;
}
body .site-wrapper main .project-showcase .my-projects .project .meta-project {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.4117647059);
  padding: 0.2rem 0.4rem;
  font-family: "Inter", sans-serif;
  color: white;
}
body .site-wrapper main .project-showcase .my-projects .project .meta-project p {
  font-weight: 900;
  font-size: 1.2rem;
  margin-bottom: -8px;
}
body .site-wrapper main .project-showcase .my-projects .project .meta-project small {
  font-weight: 400;
  font-size: 0.8rem;
}
body .site-wrapper main .project-showcase .my-projects .main-scene .project.project-1 {
  top: 0;
  left: 0;
  width: 75%;
  height: 50%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 33.33% 100%, 33.33% 50%, 0 50%);
}
body .site-wrapper main .project-showcase .my-projects .main-scene .project.project-1 img {
  object-position: right center;
}
body .site-wrapper main .project-showcase .my-projects .main-scene .project.project-2 {
  top: 25%;
  left: 0;
  width: 75%;
  height: 75%;
  clip-path: polygon(0 0, 33.33% 0, 33.33% 33.33%, 66.66% 33.33%, 66.66% 66.66%, 100% 66.66%, 100% 100%, 0 100%);
}
body .site-wrapper main .project-showcase .my-projects .main-scene .project.project-2 .meta-project {
  left: 5px;
  right: auto;
}
body .site-wrapper main .project-showcase .my-projects .main-scene .project.project-3 {
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 50% 75%, 0 75%, 0 50%, 50% 50%);
}
body .site-wrapper main .project-showcase .my-projects .project-1-focus {
  clip-path: polygon(0 0);
}
body .site-wrapper main .project-showcase .my-projects .project-1-focus .project.project-1 {
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
}
body .site-wrapper main .project-showcase .my-projects .project-1-focus .project.project-2 {
  top: 75%;
  left: 0;
  width: 50%;
  height: 25%;
}
body .site-wrapper main .project-showcase .my-projects .project-1-focus .project.project-2 .meta-project {
  left: 5px;
  right: auto;
}
body .site-wrapper main .project-showcase .my-projects .project-1-focus .project.project-3 {
  top: 75%;
  left: 50%;
  width: 50%;
  height: 25%;
}
body .site-wrapper main .project-showcase .my-projects .project-2-focus {
  clip-path: polygon(0 0);
}
body .site-wrapper main .project-showcase .my-projects .project-2-focus .project.project-1 {
  top: 0;
  left: 0;
  width: 50%;
  height: 25%;
}
body .site-wrapper main .project-showcase .my-projects .project-2-focus .project.project-1 img {
  object-position: center right;
}
body .site-wrapper main .project-showcase .my-projects .project-2-focus .project.project-1 .meta-project {
  left: 5px;
  right: auto;
}
body .site-wrapper main .project-showcase .my-projects .project-2-focus .project.project-2 {
  top: 25%;
  left: 0;
  width: 100%;
  height: 75%;
}
body .site-wrapper main .project-showcase .my-projects .project-2-focus .project.project-2 img {
  object-position: right center;
}
body .site-wrapper main .project-showcase .my-projects .project-2-focus .project.project-3 {
  top: 0;
  left: 50%;
  width: 50%;
  height: 25%;
}
body .site-wrapper main .project-showcase .my-projects .project-3-focus {
  clip-path: polygon(0 0);
}
body .site-wrapper main .project-showcase .my-projects .project-3-focus .project.project-1 {
  top: 0;
  left: 0;
  width: 50%;
  height: 25%;
}
body .site-wrapper main .project-showcase .my-projects .project-3-focus .project.project-1 img {
  object-position: center right;
}
body .site-wrapper main .project-showcase .my-projects .project-3-focus .project.project-1 .meta-project {
  left: 5px;
  right: auto;
}
body .site-wrapper main .project-showcase .my-projects .project-3-focus .project.project-2 {
  top: 75%;
  left: 0;
  width: 50%;
  height: 25%;
}
body .site-wrapper main .project-showcase .my-projects .project-3-focus .project.project-2 .meta-project {
  left: 5px;
  right: auto;
}
body .site-wrapper main .project-showcase .my-projects .project-3-focus .project.project-3 {
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 25%, 50% 25%, 50% 0, 100% 0, 100% 100%, 50% 100%, 50% 75%, 0 75%);
}
body .site-wrapper main .project-showcase .my-projects .project-3-focus .project.project-3 img {
  object-position: left bottom;
}
body .site-wrapper main .about-me .about-wrapper {
  max-width: 748px;
  margin: 0 auto;
  padding-inline: 3rem;
}
body .site-wrapper main .about-me .about-wrapper h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
body .site-wrapper main .about-me .about-wrapper p {
  font-size: 1.2rem;
  line-height: 1.6rem;
}
body .site-wrapper main .about-me .about-wrapper p:not(:last-child) {
  margin-bottom: 1.5rem;
}
body .site-wrapper footer:not(.main-page) {
  margin-top: 5rem;
}
body .site-wrapper footer .contact-link {
  mix-blend-mode: overlay;
  padding-top: 2rem;
  padding-bottom: 5rem;
}
body .site-wrapper footer .contact-link .contact-wrapper {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
body .site-wrapper footer .contact-link .contact-wrapper .inspire p {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}
body .site-wrapper footer .contact-link .contact-wrapper .contact-button {
  align-self: center;
}
body .site-wrapper footer .contact-link .contact-wrapper .contact-button a {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  transition: all 0.3s ease-in-out;
  border-radius: 38px;
  padding-inline: 2rem;
  padding-block: 1rem;
  font-family: "Bitter", serif;
  font-size: 2rem;
}
body .site-wrapper footer .contact-link .contact-wrapper .contact-button a small {
  overflow: hidden;
}
body .site-wrapper footer .contact-link .contact-wrapper .contact-button a .arrow {
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='26' viewBox='0 0 44 26' fill='none'%3E%3Cpath d='M0 13H43M43 13L23 25M43 13L33 7L23 1' stroke='black'/%3E%3C/svg%3E");
  width: 44px;
  height: 26px;
}
body .site-wrapper footer .link-list {
  background-color: white;
  position: relative;
  padding: 0.4rem;
}
body .site-wrapper footer .link-list .copyright {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.7rem;
  font-weight: 700;
}
body .site-wrapper footer .link-list .links {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}
body .site-wrapper footer .link-list .links a {
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
body .site-wrapper footer .link-list .links a.linkedin {
  padding: 6px 6px 6px 6px;
  background-color: black;
}
body .site-wrapper footer .link-list .links a img {
  object-fit: contain;
}

.mouse-follow {
  position: absolute;
  z-index: -1;
  top: 300px;
  left: 80%;
  mix-blend-mode: overlay;
}
.mouse-follow .circle {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  filter: blur(30px);
  position: absolute;
}
.mouse-follow .circle.circle-1 {
  background-color: #c82626;
  top: 0px;
  left: 0px;
}
.mouse-follow .circle.circle-2 {
  background-color: #71a2ed;
  top: 50px;
  left: 0px;
}
.mouse-follow .circle.circle-3 {
  background-color: #43d752;
  top: 0px;
  left: 50px;
  opacity: 0.6;
}

@media (max-width: 768px) {
  body .site-wrapper main .introduction .intro-wrapper h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  body .site-wrapper main .introduction .intro-wrapper h1 .junior-wrapper {
    left: 136px;
    top: 77px;
  }
  body .site-wrapper main .introduction .intro-wrapper h1 .junior-wrapper .arrow {
    margin-top: 0;
  }
  body .site-wrapper main .introduction .intro-wrapper p {
    margin-top: 0.5rem;
  }
  body .site-wrapper main .introduction .intro-wrapper .personal-image {
    left: 280px;
    top: 79px;
  }
  body .site-wrapper main .hype-scroll .scrollbar-wrapper li span {
    font-size: 3rem;
  }
  body .site-wrapper main .about-me .about-wrapper p {
    font-size: 1rem;
  }
  body .site-wrapper main .project-showcase .my-projects .project .meta-project p {
    font-size: 0.9rem;
  }
  body .site-wrapper main .project-showcase .my-projects .project .meta-project small {
    font-size: 0.6rem;
  }
  body .site-wrapper footer .contact-link .contact-wrapper {
    flex-direction: column;
    padding-inline: 2rem;
    gap: 2rem;
    align-items: center;
  }
  body .site-wrapper footer .contact-link .contact-wrapper .inspire p {
    font-size: 1rem;
  }
  body .site-wrapper footer .contact-link .contact-wrapper .contact-button {
    width: fit-content;
    align-self: auto;
  }
  body .site-wrapper .mouse-follow {
    display: none;
  }
}
@media (max-width: 548px) {
  body .site-wrapper header .header-desktop {
    padding-inline: 1.5rem;
  }
  body .site-wrapper header .header-desktop .logo {
    font-size: 1.5rem;
  }
  body .site-wrapper header .header-desktop .menu {
    gap: 1rem;
  }
  body .site-wrapper main .introduction .intro-wrapper .personal-image {
    width: 200px;
    height: 200px;
    left: 34px;
    top: 176px;
  }
  body .site-wrapper main .about-me .about-wrapper h2 {
    text-align: start;
    font-size: 2rem;
  }
  body .site-wrapper main .project-showcase h3 {
    font-size: 2rem;
  }
  body .site-wrapper footer .contact-link .contact-wrapper {
    align-items: start;
  }
}
body.project-page .site-wrapper main {
  padding-top: 100px;
}
body.project-page .site-wrapper main .project-container {
  height: calc(90vh - 100px);
  margin-bottom: calc(10vh + 100px);
  display: flex;
  align-items: center;
}
body.project-page .site-wrapper main .project-container .text-wrapper {
  width: 80%;
}
body.project-page .site-wrapper main .project-container .text-wrapper h1 {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
}
body.project-page .site-wrapper main .project-container .text-wrapper p {
  font-family: "Bitter", serif;
  font-size: 1.5rem;
}
body.project-page .site-wrapper main .project-container .text-wrapper .project-meta {
  margin-top: 3rem;
}
body.project-page .site-wrapper main .project-container .text-wrapper .project-meta .meta-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}
body.project-page .site-wrapper main .project-container .text-wrapper .project-meta .meta-wrapper h3 {
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}
body.project-page .site-wrapper main .project-container .text-wrapper .project-meta .meta-wrapper span {
  font-size: 1.1rem;
}
body.project-page .site-wrapper main .project-container .more {
  position: absolute;
  transform: translateX(-50%);
  text-align: center;
  width: 200px;
  height: 20px;
  bottom: 25px;
  left: 50%;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  opacity: 1;
}
body.project-page .site-wrapper main .project-container .more .arrow-down {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='14' viewBox='0 0 24 14' fill='none'%3E%3Cpath d='M10.9393 13.0607C11.5251 13.6464 12.4749 13.6464 13.0607 13.0607L22.6066 3.51471C23.1924 2.92892 23.1924 1.97918 22.6066 1.39339C22.0208 0.807603 21.0711 0.807604 20.4853 1.39339L12 9.87868L3.51471 1.39341C2.92892 0.807619 1.97918 0.80762 1.39339 1.39341C0.807605 1.97919 0.807606 2.92894 1.39339 3.51473L10.9393 13.0607ZM10.5 10L10.5 12L13.5 12L13.5 10L10.5 10Z' fill='%231E1E1E'/%3E%3C/svg%3E");
  width: 24px;
  height: 14px;
  margin: 0 auto;
}
body.project-page .site-wrapper main .project-about {
  max-width: 748px;
  margin: 0 auto;
}
body.project-page .site-wrapper main .project-about h4 {
  margin-top: 2rem;
  font-size: 1.5rem;
}
body.project-page .site-wrapper main .project-about h4:first-child {
  margin-top: 4rem;
}
body.project-page .site-wrapper main .project-about p {
  padding-top: 1.5rem;
  font-size: 1.2rem;
}
body.project-page .site-wrapper main .project-about a {
  color: rgb(209, 19, 161);
}

@media (max-width: 768px) {
  body.project-page .site-wrapper main .project-about p {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
